#forecast{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    overflow-x: auto;
    /* flex-basis: 33%; */
}

#accordion{
    width: 100vw;
    margin: 0;
}